/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.label1 {
	-fx-font: 14px "Courier New";
	-fx-background-color: transparent;
	-fx-text-fill: #f5f6fa;
}

.label2 {
	-fx-font: 12px "Courier New";
	-fx-background-color: transparent;
	-fx-text-fill: #f5f6fa;
}

.menuRectangle {
	-fx-fill: #5c7092;
}

.captionRectangle {
	-fx-fill: linear-gradient(to top right, #5c7092, #101f3d);
	-fx-stroke: #101f3d;
}

.button {
	-fx-font: 12px "Courier New";
    -fx-text-fill: #f5f6fa;
    -fx-background-color: #101f3d;
    -fx-border-color: #a9adb4;
    -fx-border-width: 2px;
}

.button:hover {
	-fx-background-color: #3c66af;
}

.button:active {
	-fx-background-color: #a9adb4;
}

.colorPicker {
	-fx-font: 12px "Courier New";
    -fx-text-fill: #f5f6fa;
    -fx-background-color: transparent;
    -fx-border-color: #a9adb4;
    -fx-border-width: 2px;
}

.txtChangeName {
	-fx-font: 12px "Courier New";
    -fx-text-fill: #f5f6fa;
    -fx-background-color: transparent;
    -fx-border-color: #a9adb4;
    -fx-border-width: 2px;
}

.listSequence {
	-fx-background-color: transparent;
	-fx-border-color: #a9adb4;
}

.list-cell {
	-fx-font: 12px "Courier New";
	-fx-background-color: transparent;
	-fx-text-fill: #f5f6fa;
}

.list-cell:selected {
	-fx-background-color: #3c66af;
}

.compChart {
	-fx-background-color: transparent;
	-fx-text-fill: #f5f6fa;
}

.chart {
	-fx-background-color: transparent;
}

.chart-content {
	
}

.axis {
       
    -fx-tick-label-fill: #f5f6fa;
    
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
 
.axis-label {
   -fx-text-fill: #f5f6fa;
}

.chart-vertical-grid-lines {
    -fx-stroke: #f5f6fa;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #f5f6fa;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-title {
	-fx-font: 14px "Courier New";
	-fx-text-fill: #f5f6fa;
}

.btnLoadText {
	-fx-font: 12px "Monaco";
    -fx-text-fill: #f5f6fa;
    -fx-background-color: transparent;
    -fx-border-color: #a9adb4;
    -fx-border-width: 2px;
    -fx-background-insets: 2,2,2,2;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 5;
}

.btnLoadText:hover {
	    -fx-background-color: #3c66af;
	
}

.btnSendToCompare {
	-fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 10px;
}

.btnChangeType {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.mainPane {
    -fx-background-color: 
        #101f3d;
}
        
